.parallax-content {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-10%); */
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}

@media(prefers-reduced-motion) {
    .parallax-content {
        transition: none;
    }
}