.parallax-content {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-10%); */
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    /* transform: translateX(0); */
}

@media(prefers-reduced-motion) {
    .parallax-content {
        transition: none;
    }
}

@media (max-width: 767px) {
    .landingView {
        flex-direction: column-reverse; /* Stack sections vertically on smaller screens */
    }

    .fixed-bottom {
        flex-direction: column;
        height: auto; /* Adjust height for better display on smaller screens */
    }

    .fixed-bottom a {
        margin: 5px 0; /* Adjust margin for better spacing on smaller screens */
    }
}