main {
    flex: 1;
    background-color: rgb(233, 239, 241);
}

header {
    color: rgb(178, 8, 15);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    height: 100vh;
}

.leftColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 55%;
}

.rightColumn {
    border-left: 20px solid white;
    display: flex;
    width: 45%;
    flex-direction: column;
}

.Grades {
    list-style-type: none;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.Grades li {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
    align-items: center;
}

.Grade {
    flex: 1;
    margin-left: 50px;
    margin-right: 150px;
    width: 45px;
}

.GradeLimit {
    flex: 1;
    text-align: center;
    margin-right: 385px;
    width: 15px;
    height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.upperColumn {
    height: 55%;
    border-bottom: 20px solid #fff;

}

.lowerColumn {
    flex-grow: 1;
    height: 45%;
    margin-left: 10px;
}

form {
    padding-left: 10px;
    padding-top: 20px;
}

#newGrade {
    height: 30px;
}

.HistogramGrades {
    list-style-type: none;
    padding: 0;
}

.HistogramGrades li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.GradeContainer {
    display: flex;
    align-items: center;

}

.GradeCount {
    margin-left: 50px;
    margin-right: 150px;
    width: 45px;
}

.Count {
    font-weight: bold;
}